@import url(reset.css);
@import url(variables.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"); /*importa iconos*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}

body {
  font-family: var(--fuente), sans-serif;
  font-size: var(--fuente-size);
}

.container {
  max-width: 1200px;
  /* Para que el espacio restante se distribuya equitativamente */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

a {
  transition: 0.5;
  &:hover {
    transform: scale(1.1);
  }
  i {
    transition: 0.5;
    &:hover {
      transform: scale(1.1);
    }
  }
}

img {
  display: block;
  width: 80%;
  height: auto;
}

.btn {
  display: flex;
  max-width: 300px;
  width: 175px;
  height: 40px;
  background-color: var(--color-rojo);
  color: white;
  transition: 0.5s;
  margin-top: 10px;
  padding: 5px;
  border: 0;
  font-size: 80%;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  i {
    font-size: 90%;
    padding-left: 10px;
    color: white;
    border: none;
  }

  &:hover {
    background-color: white;
    color: var(--color-rojo);
    border: 2px solid var(--color-rojo);
    i {
      font-size: 95%;
      color: var(--color-rojo);
    }
  }
}
