@import url(reset.css);
@import url(variables.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"); /*importa iconos*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}

body {
  font-family: var(--fuente), sans-serif;
  font-size: var(--fuente-size);
}

header {
  background-color: white;
  width: 100vw;
  height: auto;
  top: 0;
  left: 0;
  z-index: 5;
  position: fixed;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.contact {
  color: white;
  background-color: var(--color-oscuro);
  i {
    padding: 20px;
    color: var(--color-rojo);
    font-size: 150%;
  }
  a {
    display: none;
  }
}

.bar {
  margin: 0;
  padding: 10px;
  figure {
    justify-content: left;
    img {
      width: 120px;
    }
  }
  i {
    font-size: 200%;
    color: grey;
    margin-right: 25px;
    transition: all 0.3s ease-in-out;
  }
}

.nav-menu {
  flex-direction: column;
  align-items: center;
  transform: 0.3s;
  li {
    width: 90%;
    padding: 5px;
    text-align: center;
    border-bottom: 2px solid lightgray;
  }
}
.articulos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  margin-bottom: 10px;
}

section {
  h2 {
    width: fit-content;
    margin-top: 5px;
    border-bottom: 1px dashed var(--color-rojo);
    font-family: var(--fuente-second);
    justify-self: center;
    font-weight: bold;
    font-size: 150%;
  }
  li {
    display: inline-block;
    margin: var(--general-margin);
  }
}

span {
  color: var(--color-rojo);
}

.fondo {
  background-image: url("./images/fondo.jpg");
  background-size: 280%;
  background-position: 80%;
  background-position-x: 60%;
}

.main {
  margin-top: 240px;
  height: 60vh;
  padding: 30px;
  margin-bottom: 20px;
  width: 100%;
  background: rgb(0, 0, 0, 0.4);

  h1 {
    font-family: var(--fuente-second);
    font-size: 180%;
    color: white;
  }
  p {
    color: white;
  }
  i {
    font-size: 200%;
    margin-right: 10px;
    color: white;
  }
}

h3 {
  font-weight: bold;
}

button {
  display: flex;
  max-width: 300px;
  width: 170px;
  height: 40px;
  background-color: var(--color-rojo);
  color: white;
  margin: 0px;
  margin-top: 10px;
  padding: 5px;
  border: 0;
  font-size: 80%;
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  i {
    font-size: 90%;
    padding-left: 5px;
  }
}

article {
  width: 80%;
  text-align: justify;
  padding: 10px;
  margin: 20px;
  border-bottom: 1px solid gray;
}

.articulos.services {
  i {
    color: var(--color-rojo);
    padding: 5px;
    border: 2px solid;
  }
  p {
    padding: 5px;
  }
  .more {
    border: none;
    font-weight: bold;
    color: var(--color-rojo);
    i {
      border: none;
    }
  }
}

.cuerpo :nth-child(3) {
  figure {
    text-align: center;
    margin-top: 10px;
    img {
      width: calc(80%);
      max-width: 400px;
      padding: 10px;
      border: 2px solid var(--color-rojo);
    }
  }
  .history {
    border-bottom: none;
  }
  text-align: justify;
}

/* RESPONSIVE */

@media (width > 768px) {
  .contact {
    a {
      display: inline-block;
      color: white;
    }
  }
  .bar {
    align-items: center;
    width: 100%;
    padding: 10px;
    figure {
      justify-content: left;
    }
    i {
      display: none;
    }
  }

  .nav-menu {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
    li {
      border-bottom: none;
    }
  }

  .articulos {
    flex-direction: row;
  }

  .fondo {
    background-size: cover;
  }

  .main {
    margin-top: 130px;
    padding: 70px;
  }

  .articulos.about {
    article {
      max-width: 400px;
    }
  }
}
