@import url(reset.css);
@import url(variables.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"); /*importa iconos*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: var(--fuente), sans-serif;
  font-size: var(--fuente-size);
}

header {
  background-color: white;
  width: 100vw;
  height: auto;
  top: 0;
  left: 0;
  z-index: 5;
  display: fixed;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact {
  color: white;
  width: 100%;
  background-color: var(--color-oscuro);
  ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  li {
    display: inline-block;
  }
  i {
    padding: 20px;
    color: var(--color-rojo);
    font-size: 150%;
  }
  a {
    display: none;
    /* color: white; */
  }
}

.bar {
  margin: 0;

  width: 100%;
  padding: 10px;
  figure {
    justify-content: left;
    img {
      width: 120px;
    }
  }
  i {
    font-size: 200%;
    color: grey;
    margin-right: 25px;
  }
  ul {
    display: none;
  }
}

section {
  .articulos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;
    margin-bottom: 10px;
  }
  h2 {
    width: auto;
    font-family: var(--fuente-second);
    font-size: 150%;
    font-weight: bold;
    border-bottom: 1px solid var(--color-rojo);
    justify-content: center;
    text-align: center;
  }
  li {
    display: inline-block;
    margin: var(--general-margin);
  }
}

span {
  color: var(--color-rojo);
}

.main {
  background-image: url("./images/fondo.jpg");
  background-size: 280%;
  background-position: 80%;
  background-position-x: 60%;
  height: 60vh;
  padding: 30px;

  h1 {
    font-family: var(--fuente-second);
    font-size: 180%;
    color: white;
  }
  p {
    color: white;
  }
  i {
    font-size: 200%;
    margin-right: 10px;
    color: white;
  }
}

h3 {
  font-weight: bold;
}

button {
  display: flex;
  max-width: 300px;
  width: 170px;
  height: 40px;
  background-color: var(--color-rojo);
  color: white;
  margin: 0px;
  margin-top: 10px;
  padding: 5px;
  border: 0;
  font-size: 80%;
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  i {
    font-size: 90%;
    padding-left: 5px;
  }
}

article {
  width: 85%;
  text-align: justify;
  padding: 10px;
  margin: 20px;
}

.cuerpo :nth-child(2) {
  /* justify-content: center;
  align-items: center; */
  article {
    border-bottom: 1px solid gray;
    i {
      color: var(--color-rojo);
      padding: 5px;
      border: 2px solid;
    }
    p {
      padding: 5px;
    }
    .more {
      border: none;
      font-weight: bold;
      color: var(--color-rojo);
      i {
        border: none;
      }
    }
  }
}

.cuerpo :last-child {
  figure {
    text-align: center;
    margin-top: 10px;
    img {
      max-width: 400px;
      padding: 10px;
      border: 2px solid var(--color-rojo);
    }
  }
  text-align: justify;
}

@media (width > 768px) {
  .contact {
    a {
      display: inline-block;
      color: white;
    }
  }
  .bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    /* align-items: center; */
    padding: 10px;
    figure {
      justify-content: left;
    }
    i {
      display: none;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      width: 70%;
      li {
        display: inline-block;
      }
    }
  }

  .main {
    /* margin-top: 200px; */
    background-image: url("./images/fondo.jpg");
    background-size: cover;
    h1 {
      font-family: var(--fuente-second);
      color: white;
      font-size: 180%;
    }
    i {
      color: white;
      font-size: 200%;
    }
  }

  .cuerpo :nth-child(2) {
    flex-direction: row;
  }

  .cuerpo :nth-child(3) {
    flex-direction: row;
    article {
      max-width: 400px;
    }
  }
}

/* section article {
  background-color: lightcyan;
  padding: var(--general-padding);
  border: 2px solid;
  min-width: var(--ancho-cols);
  max-width: var(--ancho-cols) + 10px;
  h3 {
    font-weight: bold;
  }
  justify-content: center;
} */
