@import url(reset.css);
@import url(variables.css);
@import url(layout.css);

/* ESTILOS PARA EL FOOTER . CONTACTOS */
footer {
  background-color: var(--color-oscuro);
  .container {
    .contact {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
    }
  }

  i {
    padding: 20px;
    color: var(--color-rojo);
    font-size: 150%;
  }
  a {
    display: none;
  }
}

/* HEADER y NAV*/
header {
  background-color: white;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 50;

  figure {
    width: 10rem;
  }
  .container {
    align-items: center;
  }

  i {
    font-size: 200%;
    color: grey;
    margin-right: 25px;
    transition: all 0.3s ease-in-out;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    .nav-menu {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      list-style: none;
      text-align: center;

      li {
        display: inline-block;
        width: 70%;
        padding: 10px 20px;
        margin-bottom: 2px;
        border-bottom: 2px solid lightgray;
        a {
          color: gray;
          transition: 0.5s;
          &:hover {
            color: var(--color-rojo);
          }
        }
      }
    }
  }
}

/* MAIN Y HERO  */

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  h2 {
    width: fit-content;
    margin: 0 auto;
    margin-top: 15px;
    font-family: var(--fuente-second);
    justify-self: center;
    font-weight: bold;
    font-size: 150%;
  }
}

.fondo {
  width: 100vw;
  max-width: 2400px;
  max-height: 1400px;
  margin: 0 auto;
  background-image: url("./images/fondo.jpg");
  background-size: 280%;
  background-position: 80%;
  background-position-x: 60%;
}

.hero {
  margin: auto;
  flex-wrap: nowrap;
  align-content: center;
  height: 60vh;
  padding: 50px;
  width: 100%;
  background: rgb(0, 0, 0, 0.4);

  h1 {
    font-family: var(--fuente-second);
    font-size: 180%;
    color: white;
    width: 100%;
  }
  p {
    width: 100%;
    color: white;
  }
  i {
    font-size: 200%;
    margin-right: 10px;
    color: white;
  }
  ul {
    width: 100%;
    li {
      display: inline-block;
      margin: var(--general-margin);
    }
  }
}

span {
  color: var(--color-rojo);
}

h3 {
  margin-top: 15px;
  font-weight: bold;
}

/* MAIN SECTION SERVICES */

/* Divisor con X */
.divider {
  position: relative;
  width: 80px;
  margin: 0 auto;
  height: 2px;
  background-color: var(--color-rojo);
  .x {
    position: absolute;
    top: -11px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--color-rojo);
    font-size: 1.2rem;
    font-weight: bold;
  }
}

article {
  width: 80%;
  padding: 10px;
  margin: 0 auto;
  border-bottom: 1px solid gray;
  text-align: justify;
  i {
    color: var(--color-rojo);
    padding: 5px;
    border: 2px solid;
  }
  p {
    padding: 5px;
  }
  .more {
    border: none;
    font-weight: bold;
    color: var(--color-rojo);
    i {
      border: none;
    }
  }
}

/* SECCION ABOUT US */

/* Marco naranja de imagen */
.image-content {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;

  .orange-frame {
    width: 70%;
    padding-top: 50%;
    position: absolute;
    justify-content: center;
    border: 3px solid var(--color-rojo);
    transform: scale(0.5);
    /* top: 50%;
  left: 50%; */
    transform: translate(-50%, -50%);
    transform: rotate(5deg) skewX(0deg) scaleY(cos(0deg));
    z-index: 1;
  }
  img {
    /* position: absolute; */
    width: 70%;
    transform: rotate(-2deg) skewX(0deg) scaleY(cos(0deg));
    z-index: 2;
  }
}

.history {
  margin-top: 30px;
  border-bottom: none;
}

/* RESPONSIVE */

@media (width > 768px) {
  /* ESTILOS PARA EL FOOTER . CONTACTOS */

  footer {
    a {
      display: inline-block;
      color: white;
    }
  }

  /* HEADER y NAV*/
  header {
    .fa-solid.fa-bars {
      display: none;
    }
    nav {
      width: 40%;
      margin: 0;
      padding: 20px 0;
      justify-content: right;

      .nav-menu {
        flex-wrap: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        li {
          border-bottom: none;
          text-align: right;
          margin: 0;
          padding: 0;
        }
      }
    }
  }

  /* MAIN Y HERO  */

  .fondo {
    background-size: cover;
  }

  .hero {
    flex-wrap: nowrap;
  }

  article {
    width: calc(33.333% - var(--general-margin));
    border-bottom: none;
    border-left: 1px solid gray;
  }

  .image-content {
    width: calc(50% - 20px);
    justify-content: right;
  }

  .history {
    border: none;

    width: calc(40% - var(--general-margin));
  }
}
