@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"); /*importa iconos*/

body {
  background-color: #f6f7f8;
  font-family: Monserrat, sans-serif;
}

.container {
  width: 1100px;
  max-width: 3000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

h1 {
  margin-top: 10px;
  font-size: 190%;
  font-weight: bolder;
  display: inline-block;
  i {
    color: #005ab8;
  }
}

section {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #e5eaf1;
  box-shadow: 2px 2px 10px lightgray;
  background-color: white;
  border-radius: 20px;
}

h2 {
  display: block;
  font-weight: bold;
  margin: 10px 0;
  font-size: 150%;
}

form {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

button:hover {
  cursor: pointer;
}

.filtros {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  .filtro_nombre {
    width: 60%;
    input {
      width: 80%;
    }
  }

  input {
    height: 30px;
    border: 1px solid lightgrey;
    border-radius: 4px;
  }

  .filtro_precio {
    width: 30%;
    input {
      margin: 2px auto;
      width: 40%;
    }
  }

  label {
    display: block;
  }
}

.filtrar {
  border: none;
  width: 100px;
  height: 40px;
  font-size: 120%;
  color: white;
  background-color: #aa6767;
  &:hover {
    background-color: #8c5555;
  }
}

.productos {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: start;
}

.caja_producto {
  width: calc(25% - 43px);
  height: 300px;
  padding: 10px;
  border: 2px solid lightgray;
  box-shadow: 1px 1px 10px lightgray;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  .destacado {
    z-index: 3;
    position: absolute;
    right: 10px;
    justify-content: center;

    .b_destacar {
      width: auto;
      background-color: white;
      border: none;
      i {
        color: lightgray;
      }
      &:hover {
        i {
          color: gray;
        }
      }
    }
  }

  .fav {
    .b_destacar {
      i {
        color: #f59e0b;
      }
    }
  }

  img {
    /* max-width: 200px; */
    height: 60%;
    max-width: 95%;
    width: auto;
    margin: auto;
  }

  ul {
    width: 100%;
    height: 40%;
    li {
      display: block;
      margin: 5px;
    }
  }
  .gris {
    color: gray;
    font-size: 90%;
  }

  .nombre {
    font-weight: bold;
    font-size: 110%;
  }

  .precio {
    color: #005ab8;
    font-size: 150%;
    font-weight: bold;
  }
}

/* RESPONSIVE */

@media (width < 770px) {
  section {
    width: 97%;
    margin: 10px auto;
    padding: 10px;

    .caja_producto {
      width: calc(50% - 43px);
      height: 220px;

      .gris {
        font-size: 60%;
      }

      .nombre {
        font-size: 80%;
      }

      .precio {
        font-size: 100%;
      }
    }
  }
  .container {
    max-width: 400px;
  }
}
