@import url(reset.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"); /*importa iconos*/

body {
  background-color: #f6f7f8;
}

.container {
  width: 1650px;
  max-width: 3000px;
  /* Para que el espacio restante se distribuya equitativamente */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

h1 {
  font-size: 190%;
  font-weight: bolder;
}

section {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #e5eaf1;
  box-shadow: 2px 2px 10px lightgray;
  background-color: white;
  border-radius: 20px;
}

h2 {
  display: block;
  font-weight: bold;
  font-size: 150%;
}

form {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

button:hover {
  cursor: pointer;
}

.filtros {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  .filtro_nombre {
    width: 60%;
    input {
      width: 80%;
    }
  }

  input {
    height: 30px;
    border: 1px solid lightgrey;
    border-radius: 4px;
  }

  .filtro_precio {
    width: 30%;
    input {
      margin: 2px auto;
      width: 40%;
    }
  }

  label {
    display: block;
  }
}

.filtrar {
  border: none;
  width: 100px;
  height: 40px;
  font-size: 120%;
  color: white;
  background-color: #aa6767;
  &:hover {
    background-color: #8c5555;
  }
}

.productos {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: start;
}

.caja_producto {
  width: 230px;
  height: 300px;
  padding: 10px;
  border: 2px solid lightgray;
  box-shadow: 1px 1px 10px lightgray;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  .destacado {
    z-index: 3;
    position: absolute;
    right: 10px;
    justify-content: center;

    .b_destacar {
      width: auto;
      background-color: white;
      border: none;
      i {
        color: lightgray;
        font-size: 130%;
      }
      &:hover {
        i {
          color: gray;
          font-size: 130%;
        }
      }
    }
  }

  .fav {
    .b_destacar {
      i {
        color: #f59e0b;
      }
    }
  }

  img {
    /* max-width: 200px; */
    height: 60%;
    max-width: 95%;
    width: auto;
    margin: auto;
  }

  ul {
    width: 100%;
    height: 40%;
    li {
      display: block;
      margin: 5px;
    }
  }
  .gris {
    color: gray;
    font-size: 100%;
  }

  .nombre {
    font-weight: bold;
    font-size: 120%;
  }

  .precio {
    color: #005ab8;
    font-size: 150%;
    font-weight: bold;
  }
}
