@import url(reset.css);
@import url(layout.css);

body {
  background-color: whitesmoke;
}

.container {
  border: 2px dashed brown;
  width: 90%;
  max-width: 1100px;
  /* Para que el espacio restante se distribuya equitativamente */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

h1 {
  font-size: 190%;
  font-weight: bolder;
}

section {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid lightblue;
  background-color: white;
  border-radius: 20px;
}

h2 {
  display: block;
  font-weight: bold;
  font-size: 150%;
}

.filtros {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  .filtro_nombre {
    width: 60%;
    input {
      width: 80%;
    }
  }

  .filtro_precio {
    border: 2px solid magenta;
    width: 30%;
    input {
      width: 90%;
    }
  }

  label {
    display: block;
  }
}

button {
  width: 100px;
  font-size: 100%;
}
.productos {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid blue;
  gap: 20px;
  /* justify-content: space-evenly; */
}

.caja_producto {
  width: 230px;
  height: 300px;
  padding: 10px;
  border: 2px solid lightgray;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  .fav {
    border: 2px solid;
    z-index: 3;
    position: absolute;
    right: 10px;
    justify-content: center;
  }

  .imagen {
    height: 60%;
    width: 95%;
    border: 2px solid rebeccapurple;
    background-image: url("./images/mochila_cuero.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    /* background-position: 20%; */
  }

  img {
    /* max-width: 200px; */
    height: 60%;
    max-width: 95%;
    width: auto;
    border: 2px solid rebeccapurple;
    margin: auto;
  }

  ul {
    border: 2px solid orange;
    width: 100%;
    height: 40%;
    il {
      display: block;
      margin: 5px;
    }
  }

  .categoria {
    color: gray;
    font-size: 100%;
  }

  .nombre {
    font-weight: bold;
    font-size: 120%;
  }

  .precio {
    color: navy;
    font-size: 150%;
    font-weight: bold;
  }

  .gris {
    color: gray;
    font-size: 100%;
  }
}
